.panel.panel-login
  .panel-heading
    .col-xs-6
      %a#login-form-link.active Login
    .col-xs-6
      %a#register-form-link Register
  %hr/
.panel-body
  .col-lg-12
    %form#login-form{:role => "form", :style => "display: block;"}
      .form-group
        %input#email.form-control{:name => "email", :placeholder => "Email", :tabindex => "1", :type => "text", :value => ""}
      .form-group
        %input#password.form-control{:name => "password", :placeholder => "Password", :tabindex => "2", :type => "password"}
      .form-group.text-center
        %input#remember{:name => "remember", :tabindex => "3", :type => "checkbox"}/
        %label{:for => "remember"} Remember Me
      .form-group
        .col-sm-6.col-sm-offset-3
          %input#login-submit.form-control.btn.btn-login{:name => "login-submit", :tabindex => "4", :type => "button", :value => "Log In"}
    %form#register-form{:role => "form", :style => "display: none;"}
      -#.form-group
      -#  %input#username.form-control{:name => "username", :placeholder => "Username", :tabindex => "1", :type => "text", :value => ""}
      .form-group
        %input#email.form-control{:name => "email", :placeholder => "Email", :tabindex => "1", :type => "email", :value => ""}
      .form-group
        %input#password.form-control{:name => "password", :placeholder => "Password", :tabindex => "2", :type => "password"}
      .form-group
        %input#confirm-password.form-control{:name => "confirm-password", :placeholder => "Confirm Password", :tabindex => "2", :type => "password"}
      .form-group
        .col-sm-6.col-sm-offset-3
          %input#register-submit.form-control.btn.btn-register{:name => "register-submit", :tabindex => "4", :type => "button", :value => "Register Now"}