.post {
  padding: 30px;
  margin-bottom: 10px;
  color: inherit;
  background-color: #eeeeee;
  word-wrap: break-word;

  .author-post {
    display: inline-block;
    color: #550f11
  }
  .delete-post {
    display: inline-block;
    color: #730E15;
    float: right;
    position: relative;
    top: -25px;
    right: -20px;
    cursor: pointer;
  }
}

.post-form-block {
  margin: 30px;
  textarea {
    width: 100%;
  }
}

#user-info, #post-form-main, #login-form-main {
  display: none;
}